**/__pycache__
*.ipynb_checkpoints
data/paths_config.py
data/cleaning_annotations/anonymize_annotations.ipynb
data/cleaning_annotations/handmade_annotations
data/cleaning_annotations/subsampled_dataset_annotations
cache/**/*.npy
data/paths_config_local.py
analyze_evaluations_local.ipynb
NINCO_images.tar.gz
plots_in_or_out_paper_local.ipynb
model_weights/checkpoints
readme_public.md
